@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1d2035;
  color: #fff;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

h4 {
  color: #1d2035;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: rgb(57, 219, 143);
}
.menu {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu li {
  list-style: none;
}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu li:hover a {
  background-color: rgb(57, 219, 143);
  color: #1d2035;
}

.menu .active {
  color: rgb(57, 219, 143);
}

.menu li a:hover {
  color: #1d2035;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

.info-content span {
  color: rgb(57, 219, 143);
}

.download-cv {
  padding: 10px 20px;
  background-color: rgb(57, 219, 143);
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgb(57, 219, 143);
  -moz-box-shadow: 1px 3px 11px -5px rgb(57, 219, 143);
  box-shadow: 1px 3px 11px -5px rgb(57, 219, 143);
}

.download-cv:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border: 7px solid rgb(57, 219, 143);
  width: 350px;
  height: 520px;
  z-index: 1;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #1d2035;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: rgb(57, 219, 143);
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #1d2035;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img1, .card__img2, .card__img3, .card__img4, .card__img5, .card__img6 {
  width: 100%;
  height: 150px;
  background-size: cover;
}

.card__img1 {
  background-image: url(https://segwitz.com/wp-content/uploads/2021/06/vuejs-development-malaysia.jpeg);
}
.card__img2 {
  background-image: url(https://picperf.io/https://laravelnews.s3.amazonaws.com/images/laravel-featured.png);
}
.card__img3 {
  background-image: url(https://www.adictosaltrabajo.com/wp-content/uploads/2017/06/kotlin-logo.png);
}
.card__img4 {
  background-image: url(https://www.dongee.com/tutoriales/content/images/2023/01/Angular.png);
}
.card__img5 {
  background-image: url(https://codingornot.com/wp-content/uploads/2017/10/dijango-porque-usarlo.png);
}
.card__img6 {
  background-image: url(https://picperf.io/https://laravelnews.s3.amazonaws.com/images/laravel-featured.png);
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #1d2035;
}

.contact-section {
  padding: 3em;
  background-color: #fff;
}

.portfolio {
  width: 100vw;
  background-color: #1d2035;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.portfolio-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.contact-heading h2 {
  font-size: 2.5em;
  color: #1d2035;
}

.portfolio .container {
  width: 80vw;
  height: 180vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #1d2035;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #1d2035;
  color: #1d2035;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #1d2035;
  color: #1d2035;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: rgb(57, 219, 143);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  padding: 2em;
  background-color: rgb(57, 219, 143);
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.5em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

.texto {
  color: #000000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.cardRedes {
  --bg: #1d2035;
  --hover-bg: rgb(57, 219, 143);
  --hover-text: #1d2035;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card__body {
  color: #ffffff;
  line-height: 1.5em;
  font-size: 1em;
}

.cardRedes > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.cardRedes > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -0.035em;
}

.cardRedes span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.cardRedes:hover span {
  top: 0;
  font-size: 1.2em;
}

.cardRedes:hover {
  background: var(--hover-bg);
}

.cardRedes:hover > div,
.cardRedes:hover > strong {
  opacity: 0;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.redes{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
